html {
  font-family: Menlo, Monaco, Lucida Console, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, Courier, monospace;
  font-size: 12px;
  line-height: 1.6;
  height: 100%;
}

body {
  padding: 1em 3em;
}

header {
  margin-bottom: 3em;
}

main {
  max-width: 44em;
  margin: auto;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

h1 {
  font-size: 18px;
  font-weight: 400;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

h3 {
  font-size: 14px;
  font-style: italic;
}

ul {
  padding-left: 1em;
}

li {
  margin: 1em 0;
}

a {
  text-decoration: underline;
  color: #00f;
}

a:hover,
a:focus {
  background-color: #00f;
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #8000ff;
}

a:visited:hover,
a:visited:focus {
  background-color: #8000ff;
  color: #fff;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #000;
}

.links {
  padding-left: 0;
  list-style: none;
}
